@{
    ViewData["Title"] = "Home Page";
}

<div id="homeDiv">
    <img src="~/images/logo_clientmanagement.png" alt="Client management module logo" />
    <h1>Welcome</h1>
    <br />
    <br />
    <h2>to the RSGymPT Management Application</h2>
    <p>
        solution for managing clients, services, payments, and more.
    </p>
    <p>
        This intuitive tool allows to manage customer details, service types, payments, contract management, etc.
    <br />
        Let's get started and optimize business processes with ease!
    </p>
</div>
